* {
     margin: 0;
     padding: 0;
}

html {
     font-size: 16px;
}

body {
     font-family: "Josefin Sans", sans-serif;
}

.hero-section {
     display: flex;
}

.hero-container {
     background: url("./images/bg-pattern-desktop.svg");
}

.hero-content {
     width: 52%;
     margin: 0 20% 0 20%;
}

.hero-content h1 {
     font-size: 3.8rem;
     font-weight: 600;
     margin-bottom: 1rem;
     color: hsl(0, 5%, 29%);
     letter-spacing: 0.3em;
}

.hero-content span {
     font-weight: 300;
     color: hsl(0, 36%, 70%);
}

.hero-content p {
     font-weight: 400;
     margin-bottom: 2.5rem;
     color: hsl(0, 36%, 70%);
     line-height: 1.8em;
}

.logo {
     margin: 4rem 0 8rem;
}

.hero-image-mobile img {
     display: none;
}

.email-cta {
     display: flex;
}
.email-cta input {
     width: 100%;
     padding: 1rem 1.5rem;
     border: 1px solid hsl(0, 36%, 70%);
     border-radius: 75px;
     font-family: "Josefin Sans", sans-serif;
}

::placeholder {
     color: hsl(0, 36%, 70%);
     font-family: "Josefin Sans", sans-serif;
}

.email-cta button {
     margin-left: -75px;
     padding: 0 2rem;
     border-radius: 75px;
     border: none;
     background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.email-cta button:hover {
     cursor: pointer;
     background: hsl(0, 80%, 86%);
     box-shadow: 0 0.75rem 0.3rem 0.3rem hsla(0, 60%, 86%, 0.4);
}

@media screen and (max-width: 1100px) {
     .hero-content {
          text-align: center;
          margin: auto;
     }

     .hero-image-desktop img {
          display: none;
     }

     .hero-image-mobile img {
          display: block;
          margin: 0 auto 6rem;
     }

     .logo {
          margin: 2rem 1rem 4rem;
          text-align: left;
     }

     .email-cta {
          margin-bottom: 8rem;
     }
}

@media screen and (max-width: 735px) {
     .logo {
          margin: 2rem 1.5rem 2rem;
     }
     .hero-container {
          background: none;
     }

     .hero-content {
          width: 100%;
     }

     .mobile-width {
          width: 75%;
          margin: auto;
     }
}

@media screen and (max-width: 678px) {
     .hero-image-mobile img {
          margin-bottom: 4rem;
     }

     .hero-content h1 {
          font-size: 2.85rem;
     }

     .email-cta button {
          margin-left: -50px;
          padding: 0 1.5rem;
     }
}
